rect {
  fill: transparent;
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: rgba(0, 0, 0, 0);
  shape-rendering: crispEdges;
}

.axisLine {
  fill: none;
  shape-rendering: crispEdges;
  stroke: rgba(0, 0, 0, 0);
  stroke-width: 1px;
}

.axis text{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12;
  color: blue;
}

.dot {
  fill-opacity: .5;
}

.d3-tip {
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 17;
  padding: 12px;
  background: rgba(63, 104, 191, 0.87);
  color: #fff;
  border-radius: 20px;
}

.legend rect {
fill-opacity: .5;
background: rgba(63, 104, 191, 0.87);
}

.legend text{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 17;
  padding: 12px;
}

.legend circle{
fill-opacity: .75
}
/* Creates a small triangle extender for the tooltip */

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
